@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("Img/background.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
}

.main .box {
    height: 644px;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    justify-content: space-between;
    max-width: 70vw;
    margin: auto;
    display: flex;
    align-items: center;
    height: 90px;
}

@media screen and (max-width: 600px) {
    nav{
        max-width: none;
        margin: 0 10px;
    }
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: "Martel Sans", sans-serif;
    height: calc(100% - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0px 30px;
}

.hero> :nth-child(1) {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 200;
    font-size: 20px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 200;
    font-size: 18px;
    text-align: center;
}

@media screen and (max-width: 1300px) {
    .hero> :nth-child(1){
        font-size: 34px;
    }
    .hero> :nth-child(2){
        font-size: 18px;
    }
    .hero> :nth-child(3){
        font-size: 16px;
    }
}

.seperation {
    height: 7px;
    background-color: rgb(46, 44, 44)
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    background-color: rgb(255, 255, 255, 0.021);
    color: white;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 4px;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 7px 24px;
    font-size: 20px;
    border-radius: 3px;
    border: none;
    font-weight: 400;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.main input {
    color: white;
    padding: 11px 174px 11px 13px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 3px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 600px) {
    .hero-buttons {
        display: flex;
        flex-direction: column;
    }
}



.first {
    display: flex;
    justify-content: center;
    max-width: 80vw;
    margin: auto;
    color: white;
    align-items: center;
}

@media screen and (max-width: 1300px) {
    .first {
        flex-wrap: wrap;
    }
}

.secImg {
    position: relative;
}

.first .secImg img {
    width: 620px;
    position: relative;
    top: 8px;
    z-index: 10;
}

.first .secImg video {
    position: absolute;
    top: 130px;
    right: 0;
    width: 540px;
    height: 300px;
}

@media screen and (max-width: 600px) {
    .first .secImg video  {
        position: absolute;
        top: 60px;
        right: 40px;
        width: 350px;
    }
    .first .secImg img{
        width: 450px;
    }
}

.first div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

.first div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

.first div :nth-child(2) {
    font-size: 24px;
}

.third .secImg video {
    width: 380px;
    height: 240px;
    position: absolute;
    top: 58px;
    right: 120px;
}

@media screen and (max-width: 600px){
    .third .secImg video{
        width: 278px;
        height: 240px;
        position: absolute;
        top: 33px;
        right: 87px;
    }
}

.faq {
    color: white;
    padding: 34px;
}

.faq h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 48px;
}

.faq-box {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 72vw;
    margin: 10px auto;
    cursor: pointer;
    transition: all 0.4s ease-out;
}

.faq-box:hover {

    background-color: #414141;
}

.faq-box svg {
    filter: invert(1);
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

footer .question {
    padding: 46px 0px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;

}

@media screen and (max-width: 1300px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.footer-items {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.footer a {
    font-size: 14px;
    color: white;
    margin-right: 40px
}